body{

  background-image: url(../Media/backgrounds/pexels-efrem-efre-13784477.jpg);
	/* background-image:url( ../Media/home-images/header-background.jpg); */
   background-position: center;
  background-size: cover;
   background-attachment: fixed;
   display: flex;
   background-color: rgb(44, 35, 165);
}

form {
  background-image:url( ../Media/home-images/header-background.jpg);
    border: 2px solid rgb(213, 102, 17);
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    position: fixed;
   /* align-items: center; */
  }
  .class_form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
    width: 30%;
  }
  form h2 , p{
    color: rgb(15, 166, 163);
    font-weight: 900;



  }
  form a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;

  }

  input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
  }


  select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
  }

  button[type=submit], button[type=reset] {
    background-color: rgb(213, 102, 17);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

    border-radius: 20px;
    	border-radius: 2.5rem / 50%;
    transition:0.8s ease;
  }

  button:hover {
      width: 100%;
      	filter: brightness(90%);
      	transform: scale(1.2);
  }

  a {
    color: dodgerblue;
    display: block;
  }

  h2 {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
  }

  p {
    text-align: center;
  }
